.product {
  display: flex;
  flex-direction: column;
  gap: 16px;
  cursor: pointer;

  transition: transform $transition-duration;

  &:hover {
    transform: scale(1.05);
  }

  @include onTablet {
    grid-column: span 4;
  }

  @include onDesktop {
    grid-column: span 3;

    &--3 {
      grid-column: 3 / 6;
    }
  }

  &__img {
    border-radius: 8px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__category {
    @extend %text-upper;
    color: $text-color-grey;
    text-decoration: none;
    width: max-content;
    padding-bottom: 4px;
    border-bottom: 1px solid transparent;

    transition: border-color $transition-duration;

    &:hover {
      border-bottom: 1px solid $text-color-grey;
    }

    &-title {
      @extend %text-upper;
      color: $text-color-grey;
      margin: 0;
    }
  }

  &__description {
    @extend %body-text;
  }

  &__order {
    height: 32px;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    cursor: pointer;

    background-color: $bg-color;
    border: none;
    border-bottom: 1px solid transparent;

    transition: border-color $transition-duration;

    &:hover {
      border-bottom: 1px solid $accent-orange-color;
    }

    &-link {
      @extend %text-upper;
    }
  }
}
