@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=UcC73FwrK3iLTeHuS_fvQtMwCp50KnMq15j8eUYD2fQ0mlf4NL5mvYSyqNvhTwa1IMYIbCJ69m5mMb9yTWxOO7iR4pgt3UZ1xF-tILhhEzvI1TbsGEKDzjIsVBvuMZhTMGJQ80o&skey=c491285d6722e4fa&v=v13) format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=UcC73FwrK3iLTeHuS_fvQtMwCp50KnMq15j8eUYD2fQ0mlf4NL5mvYSyqNvhTwa1IMYIbCJ69m5mMb9yTWxOO7iR4pgt3UZ1xF-tILhhEzvI1TbsGEKDzjIsVBvuMZhTMGJQ80o&skey=c491285d6722e4fa&v=v13) format('woff2');
}
